
@{if (Session["username"] == null)
{
    Response.Redirect("/Home/index");
}
}

<link href="~/Content/style.css" rel="stylesheet" />
<link href="~/Content/table2.css" rel="stylesheet" />
@model journey.Models.Reservation
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<form class="pure-form pure-form-aligned" action="/Admin/UpdateConfirm/@Model.RId" method="post">
    <fieldset>
        
           
            <div class="pure-control-group">
                <label for="name">Name</label>
                <input name="Name" type="text" placeholder="Name" value="@Model.Name">
            </div>
        <div class="pure-control-group">
            <label for="name">Address</label>
            <input name="Address" type="text" placeholder="Address" value="@Model.Address">
        </div>
        <div class="pure-control-group">
            <label for="name">Contact_No:</label>
            <input name="Contactno" type="text" placeholder="Contact no" value="@Model.ContactNo">
        </div>
        <div class="pure-control-group">
            <label for="name">CNIC</label>
            <input name="CNIC" type="text" placeholder="CNIC" value="@Model.CNIC">
        </div>

        <div class="pure-control-group">
            <label for="email">Email Address</label>
            <input name="Email" type="email" placeholder="Email Address" value="@Model.Email">
        </div>

       

        <button type="submit" class="pure-button pure-button-primary">Update</button>

    </fieldset>
</form>
